@import '../login/login.component.scss';

.form-row {
  display: flex;
  gap: 16px;

  .form-field {
    flex: 1;
    min-width: 0; /* Prevents overflow */
  }
}

@media (max-width: 576px) {
  .form-row {
    flex-direction: column;
    gap: 20px;
  }
}
